*, *::before, *::after { box-sizing: inherit; }
html{
    box-sizing: border-box;
}


body{
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-container{
    height: 100px;
    background-color: rgb(54, 137, 165);
    display: block;
}
.navbar{
    text-align: center;
}
.navbar-title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}

.navbar-li{
    padding: 0 .5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 10px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.2rem;  
    
}

.navbar-li:hover{
    color: lightblue;
}

.navbar-logout{
    position: fixed;
    right: 50px;
    color: rgb(54, 137, 165);;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    width: 60px;
    height: 30px;
}
.navbar-logout:hover{
    background-color: rgb(54, 137, 165);
    color: white;
}

